/* elements */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
}

input {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  width: 100%;
  margin: auto;
}
/* classes */
.btn {
  border-radius: 0rem .25rem .25rem 0rem;
  padding: 0em !important;
  font-size: 1rem;
  line-height: 2.85em;
  width: 100%;
}

.btn-info {
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
  width: 4em;
}

.col-sm-2 {
  background-color: white;
}

.description{
  white-space: pre-wrap;
}

.display-3 {
  text-align: center;
}

.future {
  background-color: #77dd77;
  color: white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.inputText

.jumbotron {
  color: black !important;
  font-family: 'Open Sans';
  font-weight: 200;
  text-shadow: 1px 1px 0 #000;
  border-radius: 0;
}

.lead {
  margin: .5em 2em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.past {
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.row {
  white-space: pre-wrap;
  height: 2em;
  border-top: 1px solid white;;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.row {
  height: 3em;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.timeCol {
  border-top: 1px solid #d3d3d3;
  text-align: right;
  padding: .5em;
}
/* ids */
#currentDay {
  margin-bottom: 0em;
  font-size: 2em;
}

#jumbo {
  border-bottom: 10px solid black !important;
  background-color: white !important;
}

#save {
  padding: 0em;
}